<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Parent</th>
        <th>Title</th>
        <th>Body</th>
        <th>Category</th>
        <th>View</th>
        <th>Actions</th>
      </tr>

      <% @notes.each do |note| %>
      <tr>
        <td><%= note.parent_id %></td>
        <td><%= note.title %></td>
        <td><%= truncate(note.body) %></td>
        <td><%= note.category.name %></td>
        <td><%= note.view.name %></td>
        <td>
          <a href="/notes/<%= note.id %>" class="btn btn-primary">Show</a>
          <a href="/notes/<%= note.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_note/<%= note.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
