<!-- Validation failure messages -->
<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Note</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_note" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for parent_id -->
      <!-- <div class="form-group">
        <label for="parent_id" class="control-label">
          Parent
        </label>

        <input type="text" id="parent_id" name="parent_id" placeholder="Parent" class="form-control" value="<%= @note.parent_id %>">
      </div> -->

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @note.title %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>
        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="4"><%= @note.body %></textarea>
      </div>

      <!-- Label and input for view_id -->
      <div class="form-group">
        <label for="view_id" class="control-label">
          View
        </label>

        <%= select_tag(:view_id, options_from_collection_for_select(View.all, :id, :name, @note.view_id), :class => "form-control") %>
        <p class="help-block">
          <a href="/views/new">or add a new view</a>
        </p>
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @note.category_id), :class => "form-control") %>
        <p class="help-block">
          <a href="/categories/new">or add a new category</a>
        </p>
      </div>
      <!-- name of column trying to populate, array to draw options for, what you want to store in x_id, what you want them to see, what you want to be pre-selected -->

      <!-- Label and input for tag -->
      <!-- <div class="form-group">
        <label for="tagname_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tagname_id, options_from_collection_for_select(Tagname.all, :id, :name, 1), :class => "form-control") %>
        <p class="help-block">
          <a href="/tagnames/new">or add a new tag</a>
        </p>
      </div> -->

      <!-- Input for user_id -->
      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Note
      </button>
      or
      <a href="/notes">Cancel</a>
    </form>
  </div>
</div>
