<!-- Validation failure messages -->
<% if @tag.errors.any? %>
  <% @tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Tag #<%= @tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_tag/<%= @tag.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tagname_id -->
      <div class="form-group">
        <label for="tagname_id" class="control-label">
          Tagname
        </label>

        <input type="text" id="tagname_id" name="tagname_id" placeholder="Tagname" class="form-control" value="<%= @tag.tagname_id %>">
      </div>

      <!-- Label and input for note_id -->
      <div class="form-group">
        <label for="note_id" class="control-label">
          Note
        </label>

        <input type="text" id="note_id" name="note_id" placeholder="Note" class="form-control" value="<%= @tag.note_id %>">
      </div>

      <button class="btn btn-warning">
        Update Tag
      </button>
      or
      <a href="/tags/<%= @tag.id %>">Cancel</a>
    </form>
  </div>
</div>
